        <section class="card">
            <div class="card-content">
                <div class="card-title">Agenda</div>
                <form class="row" autocomplete="off">
                    <div class="col s6">
                        <label for="filtroPorNome">Contato</label>
                        <input
                            id="filtroPorNome"
                            type="text"
                            ng-model="$ctrl.filtroPorNome"
                            ng-change="$ctrl.filtroPorNomeMudou()"
                        >
                    </div>
                    <div class="col s6">
                        <label for="ordenacao">Ordernar por</label>
                        <select
                            id="ordernacao"
                            type="text"
                            ng-model="$ctrl.ordenacao"
                            ng-change="$ctrl.ordenacaoMudou()"
                        >
                            <option value="nome">Nome</option>
                            <option value="sobrenome">Sobrenome</option>
                        </select>
                    </div>
                </form>
                <contato ng-model="$ctrl.contato"></contato>
                <ul class="selecao_rapida">
                    <li ng-repeat='letra in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"'>
                        <a href="#" ng-click="$ctrl.filtrar(letra)">{{letra}}</a>
                    </li>
                </ul>
            </div>
            <div class="progress" ng-if="$ctrl.carregando">
                <div class="indeterminate"></div>
            </div>
        </section>
        <section class="card">
            <div class="card-content">
                <table class="bordered highlight disable-select">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr
                        ng-repeat="contato in $ctrl.listaDeContatos"
                        ng-click="$ctrl.selecionouContato(contato.id)"
                        ng-class="{selecionada: contato.id == $ctrl.idSelecionado}"
                    >
                        <td>{{contato.nome}}</td>
                        <td>{{contato.sobrenome}}</td>
                        <td>{{contato.email}}</td>
                    </tr>
                    <tbody>
                </table>
            </div>
        </section>
    </div>
